
body {
    background-color: antiquewhite;
}

.container {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    
    
}

.tiles {
    background-color: rgb(159, 184, 176);
    border-style: solid;
    border-width: 1px;;
    border-color: black;
}

.tiles > button {
    height:200px;
    width:200px;
    
}

.player-info {
    margin-top: 50px;
}

button:disabled {
    background-color:rgb(233, 233, 231);
    color: black;
}